
@{
    ViewData["Title"] = "Test";
}
<script src="~/js/app.js"></script>

<h1>Test</h1>

<button onclick="findNameOfTallestMountain()">Get Tallest Mountain</button><br /><br />

<button onclick="calcAverageProductPrice()">Get Price Average</button><br /><br />

<button onclick="calcInventoryValue()">Get Inventory Value</button><br /><br />